
*{margin: 0;padding: 0;box-sizing: border-box;}

body {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(237, 237, 237);
    text-align: center;
}

h5 {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    text-align: start;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #03C75A;
}

form input:not([type="radio"]){
    padding: 12px;
    width: 350px;
    border-radius: 3px;
    border: 2px solid lightgrey;
}

button {
    color: white;
    background-color: #03C75A;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 20px;
}