*{border: 0; box-sizing: border-box; padding: 0; }

body {
    height: 100vh;
}

.main_container {
    bottom: 1px solid black;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2ppx;
}

.main_container img {
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.intro {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;


    /* 글씨 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro a{
    margin: 0;
    color: black;
    text-decoration-line: none;
    font-size: 35px;
    font-weight: bold;
}


header nav {
    border: 1px solid black;
    display: flex;
    width: 150px;
    height: 100%;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    
}

header nav a {
    text-decoration-line: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
